<ion-header>
  <ion-toolbar>
    <ion-title>{{editing ? 'Modifer' : 'creer'}} une salle de reunion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="salles"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-grid
 >
   <ion-row>
     <ion-col size="12" size-md="4" offset-md="4">
      <ion-card>

        <ion-card-header>

          <ion-card-title>{{editing ? 'Mise à jour': 'creer '}} salle de réunion</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating" >Nom</ion-label>
            <ion-input [(ngModel)]=post.nom ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">password</ion-label>
            <ion-input [(ngModel)]="post.password" ></ion-input>
          </ion-item>
        <ion-button color="primary" expand="full" (click)="editing? updateSalle():saveSalle(post.nom,post.password)">
          {{editing ? 'mettre à jour' : 'sauvegarder'}}
        </ion-button>
        </ion-card-content>

          </ion-card>
     </ion-col>

   </ion-row>
 </ion-grid>

</ion-content>
