<ion-header>
  <ion-toolbar>
    <ion-title>salles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let salle of salles">


<ion-card-header>

  <ion-card-title>nom: {{salle.nom}}</ion-card-title>
  <ion-card-title>id: {{salle.id}}</ion-card-title>


</ion-card-header>
<ion-card-header>

  <ion-card-title> <img src="https://blog.1001salles.com/wp-content/uploads/2015/04/preparer-sa-salle.jpg" alt=""></ion-card-title>
</ion-card-header>
<ion-card-content>
  <div><ion-button  color="secondary" [routerLink]="['/','salles', 'edit', salle.id]">
  update
</ion-button></div>
<div><ion-button  (click)="deleteSalle(salle.id)" color="danger">
  delete
</ion-button></div>

</ion-card-content>
</ion-card>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/form-salle">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
